body{

    background-color: #80c8bc;

    color: #e27d5f;

    text-align: center;

    font-family: monospace;

    font-size: 18px;

    /*margin: 0 auto;

    width: 800px;*/

}

h1,h2,h3,h4{

    color: #e27d5f;

}

input,select{

    color: #caf6f4;

    font-size: 20px;

    border: 0px;

    border-radius: 15px;

    background-color: #009a9f;

    margin: 10px;

    padding: 5px;

    text-align: center;

}

input::placeholder{

    color: #caf6f4;

    text-align: center;

    font-family: sans-serif;

}

input{

    background-color: #009a9f;

}

label{

    display: block;

}

ul{

    list-style-type: none;

}

.button{

    color: #C5C6C7;

}

a{

    color: #c38d9d;

    text-decoration: none;

}

a:visited{

    color: #c38d9d;

}

textarea{

    background-color: #e27d5f;

    color: #caf6f4;

}

table,th,td{

    border-collapse: collapse;

    border: 1px solid #039a9c;

}
iframe{
    padding: 30px;
    border-width: 0px;
}